/*
.root{
    -fx-background-image:url(photo_1.jpg)
}
.label{
    -fx-font-size :20 pt;
}
.textfield{
    -fx-font-size :10 pt;
}
.button{
    -fx-background-radius: 6;
    -fx-font-size :20 pt;
    -fx-text-fill: linear-gradient(#000000,#03A9F4);

}
.mm{
       -fx-font-size :15 pt;

}
.bigadress{
        -fx-font-size :30 pt;
        -fx-font-color :#03A9F4 ;
}
.mainFxmlClass {
    -fx-font: bold 35px "arail";
}
*/
.root{

-fx-background-color: rgb(65 ,110,120);
-fx-font: bold 30px 'arail';

}

.button{
-fx-border-width: .5px ;
-fx-border-color: white;
-fx-border-style: solid;
-fx-background-color: rgb( 50,200,150 );
-fx-text-fill: white;
}

.button:hover{

-fx-background-color: white;

-fx-text-fill: rgb( 50,200,150 );

}

.label{

-fx-text-fill: rgb( 50,200,150 );

}

.text-field{

-fx-text-fill: white;

}

